<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", root_path %></li>
      <% if current_user != nil  %>
      <div class='right'>
      <ul class="nav navbar-nav">
      <li> <%= link_to t(".sign_out"), signout_path, method: :delete, class: "sign_out" %></li>
      <% else %>
      <li> <%= link_to "Sign in with Google", "/auth/google_oauth2" , id: "sign_in"%></li>
      </ul>
      </div>
      <% end %>
    	<li><%= link_to "About Us", "#" %></li>
      </div>
    </ul>
  </div>
</nav> 


